<a href="https://colab.research.google.com/github/sr-DCBP/Data-Science/blob/main/CodingTask_Sabela%20Reuge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Science Fundamentals for DCBP, S. Haug, University of Bern

# Coding Task 1

- Deadline (upload to Ilias): 2022-03-20 24:00
- Estimated effort: 2-5 hours
- Data on Ilias (4ms_...) with metadata file CCD-Metadata

## Tasks (maximum 12.5 points)

- Write a method (function) which removes the header information in the datafile and saves that information into a separate textfile. [0.5 points] 
- Write a function which reduces the data resolution by averaging over 1, 2, 3 and 4 nm wavelengths. Save these 4 new reduced datasets in new files. Do this (1) by writing an explicit loop and (2) by using pandas methods. Measure the running times of the two approaches. [6 points]
- Write a function which takes two wavelengths as input and plots the difference of the data at these lengths over time. [2 points] 
- Let the x-axis be in seconds, label the axes with names and units, label the plot with color and legend, make a title for the plot. Save the plot to a file. [2 points]
- Plot the full and the reduced datasets in the same figure. Is there any visual difference? [2 points]

In [1]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/Data science/Absorbance.txt'

Mounted at /content/drive

In [7]:
import pandas as pd
df = pd.read_csv(path, delimiter='\t', header=13) # skip the metadata to get to the data (values)
print(df)

                     Unnamed: 0     Unnamed: 1  316.6137  316.7492  316.8847  \
0    2018-10-25 10:32:04.789000  1540456324789  0.329672  0.329672  0.329672
1    2018-10-25 10:32:04.878000  1540456324878 -0.044412 -0.044412 -0.044412
2    2018-10-25 10:32:04.962000  1540456324962  0.338219  0.338219  0.338219
3    2018-10-25 10:32:05.046000  1540456325046 -0.049682 -0.049682 -0.049682
4    2018-10-25 10:32:05.129000  1540456325129  0.335086  0.335086  0.335086
..                          ...            ...       ...       ...       ...
350  2018-10-25 10:32:34.404000  1540456354404 -0.048929 -0.048929 -0.048929
351  2018-10-25 10:32:34.488000  1540456354488  0.851907  0.851907  0.851907
352  2018-10-25 10:32:34.576000  1540456354576  0.329255  0.329255  0.329255
353  2018-10-25 10:32:34.660000  1540456354660  0.330061  0.330061  0.330061
354  2018-10-25 10:32:34.744000  1540456354744  0.101879  0.101879  0.101879

     317.0203  317.1558  317.2913  317.4268  317.5623  ...  778.9703  \
0    0.090294 -0.716926 -1.829304 -0.686330 -0.428776  ... -0.038483
1    0.157632 -0.672423 -2.183981 -0.492421 -0.000000  ... -0.039428
2    0.330993 -0.879836 -0.000000 -0.559845 -0.000000  ... -0.037725
3    0.519086 -0.681150 -0.000000 -0.417230 -0.000000  ... -0.037613
4   -0.041393 -0.000000 -1.802774 -0.510417 -0.000000  ... -0.040919
..        ...       ...       ...       ...       ...  ...       ...
350 -0.052674 -0.739370 -2.155336 -0.520450 -0.000000  ... -0.038112
351 -0.111298 -0.639166 -2.039414 -0.531784 -0.000000  ... -0.036887
352  0.064351  0.316582 -2.107210 -0.298427  0.570461  ... -0.037311
353  0.081473 -0.525273 -1.750123 -0.134352  0.243550  ... -0.036267
354  0.177809 -0.456259 -0.000000 -0.157833 -0.376095  ... -0.037316

      779.089  779.2076  779.3263  779.4449  779.5636  779.6822  779.8008  \
0   -0.039623 -0.036920 -0.037309 -0.037299 -0.037476 -0.036856 -0.036853
1   -0.038486 -0.037309 -0.036357 -0.037289 -0.038728 -0.037214 -0.036902
2   -0.037534 -0.036560 -0.036152 -0.036554 -0.036875 -0.037351 -0.036746
3   -0.037168 -0.036369 -0.034549 -0.036252 -0.037948 -0.036713 -0.035706
4   -0.038288 -0.035840 -0.035638 -0.039504 -0.040093 -0.039953 -0.037656
..        ...       ...       ...       ...       ...       ...       ...
350 -0.036615 -0.035938 -0.034245 -0.035340 -0.037055 -0.035771 -0.036557
351 -0.036921 -0.035249 -0.033394 -0.035231 -0.035815 -0.037457 -0.035020
352 -0.036231 -0.037977 -0.033525 -0.035225 -0.036255 -0.036670 -0.036079
353 -0.036341 -0.037307 -0.035010 -0.036073 -0.036282 -0.036911 -0.036554
354 -0.035830 -0.036852 -0.034170 -0.034227 -0.035085 -0.035308 -0.034768

     779.9194  780.0381
0   -0.039100 -0.035545
1   -0.040210 -0.038165
2   -0.038686 -0.036903
3   -0.038203 -0.036822
4   -0.038082 -0.035900
..        ...       ...
350 -0.037451 -0.033582
351 -0.038338 -0.035408
352 -0.038006 -0.035039
353 -0.037560 -0.034496
354 -0.036334 -0.034725

[355 rows x 3650 columns]

In [ ]:
df.head()

,Unnamed: 0,Unnamed: 1,316.6137,316.7492,316.8847,317.0203,317.1558,317.2913,317.4268,317.5623,...,778.9703,779.089,779.2076,779.3263,779.4449,779.5636,779.6822,779.8008,779.9194,780.0381
0,2018-10-25 10:32:04.789000,1540456324789,0.329672,0.329672,0.329672,0.090294,-0.716926,-1.829304,-0.686330,-0.428776,...,-0.038483,-0.039623,-0.036920,-0.037309,-0.037299,-0.037476,-0.036856,-0.036853,-0.039100,-0.035545
1,2018-10-25 10:32:04.878000,1540456324878,-0.044412,-0.044412,-0.044412,0.157632,-0.672423,-2.183981,-0.492421,-0.000000,...,-0.039428,-0.038486,-0.037309,-0.036357,-0.037289,-0.038728,-0.037214,-0.036902,-0.040210,-0.038165
2,2018-10-25 10:32:04.962000,1540456324962,0.338219,0.338219,0.338219,0.330993,-0.879836,-0.000000,-0.559845,-0.000000,...,-0.037725,-0.037534,-0.036560,-0.036152,-0.036554,-0.036875,-0.037351,-0.036746,-0.038686,-0.036903
3,2018-10-25 10:32:05.046000,1540456325046,-0.049682,-0.049682,-0.049682,0.519086,-0.681150,-0.000000,-0.417230,-0.000000,...,-0.037613,-0.037168,-0.036369,-0.034549,-0.036252,-0.037948,-0.036713,-0.035706,-0.038203,-0.036822
4,2018-10-25 10:32:05.129000,1540456325129,0.335086,0.335086,0.335086,-0.041393,-0.000000,-1.802774,-0.510417,-0.000000,...,-0.040919,-0.038288,-0.035840,-0.035638,-0.039504,-0.040093,-0.039953,-0.037656,-0.038082,-0.035900

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355 entries, 0 to 354
Columns: 3650 entries, Unnamed: 0 to 780.0381
dtypes: float64(3648), int64(1), object(1)
memory usage: 9.9+ MB

In [8]:
#def removeheader (N):
#  with open("Textfile.txt","w") as textfile:
 #   file.write(#jetzt pfad zu header von Absorption file)

AttributeError: ignored

In [ ]:
#header = (' ')
#with open('Textfile.txt', 'w') as outstream:
 #    outstream.write(header)

In [12]:
with open(path, 'r') as instream:
    print(instream.readline())
    print(instream.readline())
    print(instream.readline())

Data from 4ms_10 av_15 s_Absorbance_10-32-04-868.txt Node



Date: Thu Oct 25 10:32:04 CEST 2018

In [16]:
with open(path, 'r') as instream:
     textlines = instream.readlines()
for i in range(14):
     print(textlines[i])

Data from 4ms_10 av_15 s_Absorbance_10-32-04-868.txt Node



Date: Thu Oct 25 10:32:04 CEST 2018

User: Christoph

Spectrometer: BALLMOOS

Trigger mode: 4

Integration Time (sec): 4.000000E-3

Scans to average: 10

Electric dark correction enabled: true

Nonlinearity correction enabled: false

Boxcar width: 0

XAxis mode: Wavelengths

Number of Pixels in Spectrum: 3648

>>>>>Begin Spectral Data<<<<<

In [ ]:
df = pd.read_csv(path, delimiter='\t', header = 13)

In [ ]:
data = open("Absorbance.txt", "r")

for line in data.readlines():
    print(line)
data.close()

In [ ]:
# open the sample file used
data = open('Absorbance.txt', 'r')
  
# read the content of the file opened
content = data.readlines()
  
# read 10th line from the file
print("tenth line")
print(content[9])
  
# print first 3 lines of file
print("first three lines")
print(content[0:3])

tenth line

IndexError: ignored

In [ ]:
data = open('Absorbance.txt', 'r')
sep = data.read(20 - 0)
print (sep)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/Data science/Absorbance.txt'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = open('Absorbance.txt', 'r')
sep = data.read(20 - 0)
print (sep)

In [ ]:
data.seek(5)
sep = data.read(20 - 5)
print (sep)